<p style="color: green"><%= notice %></p>

<h1>Shoppings</h1>

<div id="shoppings">
  <% @shoppings.each do |shopping| %>
    <%= render shopping %>
    <p>
      <%= link_to "Show this shopping", shopping %>
    </p>
  <% end %>
</div>

<%= link_to "New shopping", new_shopping_path %>
